* {
  padding: 0;
  margin: 0;
}

/* Input Section */

.navCheckbox {
  display: none;
}

.navLabel {
  position: fixed;
  top: 4px;
  right: 4px;
  width: 40px;
  height: 40px;
  background: yellow;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2000;
}

.navCheckbox:checked ~ .navBg {
  transform: scale(200);
}

.navIcon {
  position: relative;
  right: 0;
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: grey;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
}

.navIcon::before,
.navIcon::after {
  position: absolute;
  display: inline-block;
  content: "";
  left: 0;
  width: 20px;
  height: 2px;
  background-color: red;
  top: 30px;
  transition: all 0.4s;
}

.navIcon::before {
  top: -0.4rem;
}

.navIcon::after {
  top: 0.4rem;
}

/* Background menu icon section */
.navBg {
  position: fixed;
  top: 9px;
  right: 9px;
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

/* The menu section */
nav {
  position: fixed;
  height: 100vh;
  width: 0;
  opacity: 0;
  z-index: 1500;
  transition: all 0.8s;
}

.navList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.navItem {
  margin: 1rem;
}

.navLink,
.navLink:link,
.navLink:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  padding: 5px;
  color: rgb(240, 228, 228);
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    rgb(243, 243, 242) 50%
  );
  background-size: 230%;
  transition: all 0.4s;
}

.navLink:hover,
.navLink:active {
  color: black;
  background-position: 100%;
  transform: translateX(1rem);
}

.navCheckbox:checked ~ nav {
  width: 100%;
  opacity: 1;
}

.navCheckbox:checked + .navLabel .navIcon {
  background-color: transparent;
}

.navCheckbox:checked + .navLabel .navIcon::before {
  top: 0;
  transform: rotate(135deg);
}

.navCheckbox:checked + .navLabel .navIcon::after {
  top: 0;
  transform: rotate(-135deg);
}
