* {
    /*  padding and border are included in the width and height */
    box-sizing: border-box;
  }

  body {
    margin: 20px;
  }

  header {
    height: 88vh;
    width: 100%;
    background-color: cornflowerblue;
  }

  .nav-checkbox {
    display: none;
  }

  .nav-btn {
    background-color: aliceblue;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem black .1;
    text-align: center;
    cursor: pointer;
  }

  .nav-bg {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(rgb(255, 251, 15), darkgreen);
    z-index: 1000;
    /* transform: scale(30); */
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1) ; /* video 2 */
  }

  nav {
    height: 100vh;
    /* width: 100%; */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    /* video 2 */
    opacity: 0;
    width: 0;
    transition: all .8s;
  }

  .nav-list {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .nav-item {
    margin: 1rem
  }

  .nav-link:link, .nav-link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 220%;
    transition: all .4s;
  }

  .nav-link:hover, .nav-link:active {
    background-position: 100%;
    color: black;
    transform: translateX(1rem);
  }


  /* the part 2 */
  .nav-checkbox:checked ~ .nav-bg {
    transform: scale(50);
  }

  .nav-checkbox:checked ~ nav {
    opacity: 1;
    width: 100%;
  }

    /* The part 3 ... menu icon */
    .nav-icon {
      position: relative;
      margin-top: 3.5rem;
    }

  .nav-icon, .nav-icon::before, .nav-icon::after {
    width: 3rem;
    height: 2px;
    background-color: grey;
    display: inline-block;
  }

  .nav-icon::before, .nav-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
  }

  .nav-icon::before {
    top: -1rem;
  }
  .nav-icon::after{
    top: 1rem;
  }

  .nav-btn:hover .nav-icon::before {
    top: -1.2rem;
  }

  .nav-btn:hover .nav-icon::after{
    top: 1.2rem;
  }

  .nav-checkbox:checked + .nav-btn .nav-icon {
     background-color: transparent; /* to make the element disappear */
  }

  .nav-checkbox:checked + .nav-btn .nav-icon::before {
    top: 0; /* to make the lines across each other */
    transform: rotate(135deg);
 }

 .nav-checkbox:checked + .nav-btn .nav-icon::after {
   top: 0; /* to make the lines across each other */
  transform: rotate(-135deg);
}